body {
    margin: 0;
    padding: 0;
    font-family: 'Times New Roman', Times, serif;
    background: url("service.jpeg");
    background-size: cover;
}

.topic {
    font-size: 40px; 
    padding-top: 2%;
    font-weight: 800;
    color: white;
}

.servicetype {
    margin: 0;
    padding-left: 0px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.servicetype .box1 {
    position: relative;
    width: 350px;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 10px;
    padding-right: 0px;
    background: none;
    opacity: 0.7;
    margin: 20px;
    box-sizing: border-box;
    overflow: hidden;
    text-align: center;
}

.servicetype .box1 .unwase a{
   background-color: blue;
   color: white;
   padding: 10px;
   text-decoration: none;
}

.servicetype .box1 .abwase a{
    background-color: blue;
    color: white;
    padding: 10px;
    text-decoration: none;
 }

.sub-heading {
	font-size: 25px;
	padding-left: 10%;
	padding-bottom: 0px;
	color: black;
	font-weight: 600;
	position: relative;
}

.container {
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.container .box2 {
  position: relative;
  width: 430px;
  padding: 20px;
  background: none;
  border-radius: 20%;
  margin: 10px;
  box-sizing: border-box;
  text-align: center;
  height: auto;
  overflow: hidden;
  border-left: 5px solid white;
  border-right: 5px solid white;
}





.container .box2 .content h3 {
  font-size: 20px;
  margin: 0;
  padding: 0;
}

.container .box2 .content p {
  margin: 0;
  padding: 0;
}








.container .box3 {
  position: relative;
  width: 300px;
  padding-left: 5%;
  margin: 0px;
  background: none;
  box-sizing: border-box;
  text-align: center;
  height: auto;
  overflow: hidden;
  border: none;
  /*border: 3px solid rgb(53, 41, 153);*/
}











.container .box3 .content {
  position: relative;
  
}

.imgcontent{
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.imgcontent .box3 {
  transition: 1s;
  overflow: hidden;
}

.box3 img {
  display: block;
  width: 70%;
  border-radius: 5px;
}

.box3:hover{
  transform: scale(1.5);
  background: hidden;
}





.description h1 {
	padding: 0px;
	margin-top: 0px;
	font-size: 30px;
	color: silver;
	text-align: center;
}

.description h2 {
	padding: 0px;
	margin-top: 0px;
	color: orange;
	text-align: center;
}

.description h3 {
	padding-left: 10px;
	margin-left: 10px;
	color:silver;
  text-align: center;
  /* text-align: justify; */
}

.description img {
	width: 220px;
	height: 220px;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.service-icon{
	display: inline-block;
	width: 115px;
	height: 30px;
	border: 3px solid black;
	margin-top: 20px;
	padding-top: 0px;
	transition: 0.3s linear;
	border-radius: 40px 40px 40px 40px;
	background: none;
}

.service-icon:hover {
	background: cyan;
}

.service-icon button {
  padding-top: 5px;
}











.modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 80px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
  max-height: 90%;
  overflow: auto;
  position: relative;
  background-color: #fefefe;
  margin: auto;
  padding: 0;
  border: 1px solid #888;
  width: 80%;
  animation-name: animatetop;
  animation-duration: 0.8s;
  max-height: 625px;
}

.modal-body {
  padding-left: 5%;
  padding-right: 5%;
}


.modal-body h1 { 
	color: red;
	font-weight: 600;
	text-align: center;
}

.modal-body h3 {
	padding: 50%;
	margin-left: 40px;
	margin-right: 40px;
	margin-top: 10px;
	color: blue;
	text-align: justify;
}

.modal-body img {
	width: 180px;
	height: 180px;
	display: block;
	margin-left: auto;
	margin-right: auto;
  border: none;
	border: 1px solid black;
}

.modal-body .applyservices {
  padding-top: 40px;
  padding-bottom: 30px;
}

.modal-body .applyservices button {
	cursor: pointer;
	position: relative; 
	font-size: 18px;
	border: none;
	color: white;
	font-weight: 600;
	background: none;
	float: right;
  
}

.modal-body .applyservices a {
	text-decoration: none;
	color: red;
	background: none;
}

.modal-body .applyservices a:hover {
	background: blue;
	padding: 10px;
}
/*
.modal-body button:hover {
	background-color: black;
	color: cyan;
}
*/
.modal-header {
    padding: 2px 10px;
    background-color: #5cb85c;
    color: white;
	  height: 40px;
}

.close {
    color: red;
    float: right;
    font-size: 30px;
    font-weight: bold;			
}

.close:hover,
.close:focus {
    color: white;
    text-decoration: none;
    cursor: pointer;
	background: red;
	border-radius: 50%;
}

.modal-footer {
    background-color: #5cb85c;
    color: white;
	  height: 40px;
}

@-webkit-keyframes animatetop {
    from {
        top: -300px;
        opacity: 0
    }

    to {
        top: 0;
        opacity: 1
    }
}

@keyframes animatetop {
    from {
        top: -300px;
        opacity: 0
    }

    to {
        top: 0;
        opacity: 1
    }
}

button {
	cursor: pointer;
	position: relative;
	top: 10%; 
	left: 0%; 
	padding: 0px;
	font-size: 18px;
	border: none;
	color: red;
	font-weight: 600;
	background: none;
	justify-content: center;
}

button:hover {
	/* background-color: pink; */
	color: yellow;
}


.as {
	background: none;
	
	margin-top: 20px;
	margin-bottom: 20px;
	margin-left: 40%;
	margin-right: 40%;
}

.as a {
	text-decoration: none;
	font-size: 25px;
	color: white;
	background: red;
	padding: 10px;
	border-radius: 20%;
}

.as a:hover {
	background: green;
	border-radius: 20%;
}






@media screen and (max-width:960px) {
    .servicetype .box1{
      max-width: 100%;
    }
  }
  
  @media screen and (max-width:768px) {
    .servicetype .box1{
      max-width: 100%;
    }
  }
  
  @media screen and (max-width:480px) {
    .servicetype .box1{
      max-width: 100%;
    }
  }


  @media screen and (max-width:960px) {
    .container .box2{
      max-width: 100%;
      box-align: center;
    }
  }
  
  @media screen and (max-width:768px) {
    .container .box2{
      max-width: 100%;
      box-align: center;
    }
  }
  
  @media screen and (max-width:480px) {
    .container .box2{
      max-width: 100%;
      box-align: center;
    }
  }









  @media screen and (max-width:960px) {
    .sub-heading {
      max-width: 100%;
      padding-left: 10%;
      margin: 0;
      font-size: 25px;
    }
  }
  
  @media screen and (max-width:768px) {
    .sub-heading {
      max-width: 100%;
      padding-left: 10%;
      margin: 0;
      font-size: 25px;
    }
  }
  
  @media screen and (max-width:480px) {
    .sub-heading {
      max-width: 100%;
      padding-left: 10%;
      margin: 0;
      font-size: 25px;
    }
  }




  @media screen and (max-width: 1050px){
    .imgcontent{
      flex-wrap: wrap;
      padding-left: 15px;
      padding-right: 15px;
    
      width: 100%;
    }
    .imgcontent .box3 img{
      padding: 10px;
      margin: 0;
    }
  }